@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["aluno"]</p>

<address>

    <strong>More information: </strong> <a href="https://www.linkedin.com/in/cristiano-lima-ramos-4ab794a4/">Linkedin</a>
</address>